


body {
    background: #000000 ;
}



h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

#usuario{
position:relative;
   width: 70px;
  height: 70px;
  right: -1170px;/*lados*/
  padding:0px;
  top: 0px;
}

#logo{
  position:relative;
  width: 250px;
  height: 58px;
  bottom:58px;
  right: 0px;
  padding:0px;
  top: -90px;
}

#menu{
  position:relative;
  right: 0px;
  padding:0px;
  top: -70px;
}


#serrarSesion{
  position:relative;
  right: 0px;
  padding:0px;
  top: -24px;
}

#busqueda{
  position:relative;
 

  right: 70px; /*lados*/
  padding:0px;
  top: -140px;
}


input[type="text"]{

width: 15%;

top: 15px;
left: 950px;
padding: 4px 1px;
position: absolute;

}

input[type="submit"]{
  width: 5%;
  top: 15px;
  left: 1160px;
  padding: 4px 1px;
  position: absolute;
}




.input:hover
{
background:rgba(0,0,0,0.3);
}

#container {
width: 1300px;
margin: 0 auto;
}


.ex2 img{


}
/*
.ex2 img{
height: 100px;
width: 300px;
margin: 15px 0;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
border-radius: 10px;
}
.ex2 img:hover {
height: 110px;
width: 350px;
margin-left: -50px;

}
*/




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(12, 36, 30);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
