body {
      background:#2f313d;
      background:url(../tomas.png);
      background-repeat:repeat;
      background-position:50% 0;

     }



h1 {
      color: #16aa56;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 10px;
     }
