body {
  background: #000000;
  color: #46485c;
  font-family: sans-serif;
}


a {
  color: #46485c;
  text-decoration: none;
}

h2 {
  color: #f4f4f4;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.registrarse {
  width: 250px;
  position: absolute;
  top: 32%;
  left: 50%;
  margin: -184px 0px 0px -155px;
  background: rgba(102, 112, 177, 0.2);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}

label {
  display: block;
  background: transparent;


  
}


input[type="text"], input[type="password"] {
  width: 250px;
  padding: 13px 0px;
  background: transparent;
  border: 0;
  border-bottom: 4px solid rgba(255,255,255,0.04);
  outline: none;
  color: #46485c;
  font-size: 14px;
  
}

/*boton registrarse*/
input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}


input[type="reset"] {
  background: #b5cd60;
  border: 0;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}




/*cambio de color al poner el maus*/
input[type="reset"]:hover {
  background: #16aa56;
}

input[type="submit"]:hover {
  background: #16aa56;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6d7781;
}

.remember {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
}

::-webkit-input-placeholder {
  color: #46485c;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: all 0.2s linear;
  transform: translate(10px, 0);
  opacity: 0;
}


