body {
    background: ;
}

p{
	color:white;
	padding:0 100px 0 100px;
}

#carrito {
  width: 10px;
  height: 10px;
  position:relative;
  bottom:0px;
  right: -1200px;
  padding:20px;

}




#usuarioConectado{
  width: 10px;
  height: 10px;
  position:relative;
  bottom:0px;
  right: -1px; /*lados*/
  top: -40px;
  padding: 0px;/*contorno*/

}


#cesion{
  width: 10px;
  height: 10px;
  position:relative;
  bottom:0px;
  right: -19px;  /*isquierda derecha*/
  top: -66px;  /*arriba abajo*/
  padding:20px;

}



img {
  border: none;
}

#disponibles {
  width: 10px;
  height: 10px;
  position:relative;
  bottom:0px;
  right: -800px;
  padding:20px;

}

#compras {
  width: 70px;
  height: 70px;
  position:relative;
  bottom:0px;
  right: -400px;
  padding:20px;

}

#ingreso {

  position:relative;
  bottom:0px;
  right: -10px;
  padding:20px;
  top: -170px;  /*arriba abajo*/
  
}



input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
/*botones*/
input[type="reset"] {
  background: #b5cd60;
  border: 0;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="reset"]:hover {
  background: #16aa56;
}

input[type="submit"]:hover {
  background: #16aa56;



