
.image {

position: relative;

width: 100%; /* for IE 6 */

}

h2 {

position: absolute;

top: 200px;

left: 0;

width: 100%;

}

h2 span {

color: white;

font: bold 24px/45px Helvetica, Sans-Serif;

letter-spacing: -1px;

background: rgb(0, 0, 0);

background: rgba(0, 0, 0, 0.7);

padding: 10px;

}

&lt;!-- [ if IE ]&gt;

background: transparent;

filter: prodig:DXImageTransform.Microsoft.gradient(startcolorstr=#00000050,endcolorstr=#00000050;

zoom: 1;

&lt;![endif]--&gt;


h2 span.spacer {

padding:0 5px;

}

